.landingInfo{
    background-image: url("fonlen.jpg");
   
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    background-color:rgba(1,1,10,1);
    /* src\Assets\fon.png */
}

h1{
    color:white;
    padding-top: 20px;
}

P{  
    margin-top: 50px;
    font-size: 24px;
    color:darkgreen;
    font-weight: bold;
}

.btn{
    margin-top: 100px;
}